!URxvt.depth: 32
URxvt.background: #1E1E1E


!Shift-Control C or V for copying and pasting
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.iso14755: False
URxvt.font: xft:Hack:size=10
URxvt.scrollBar: False
URxvt.keysym.C-Up:     perl:font-size:increase
URxvt.keysym.C-Down:   perl:font-size:decrease
URxvt.keysym.C-S-Up:   perl:font-size:incglobal
URxvt.keysym.C-S-Down: perl:font-size:decglobal

! black
*color0:  #4d4d4d
*color8:  #5a5a5a
! red
*color1:  #C62233 
*color9:  #DE2D57
! green
*color2:  #29CF13
*color10: #6CE05C
! yellow
*color3:  #CDC010
*color11: #D2C94A
! blue
*color4:  #1634D5 
*color12: #3554F7 
! magenta
*color5:  #CD108E
*color13: #CD3599
! cyan
*color6:  #20B3AB
*color14: #157872
! white
*color7:  #E2D1E3
*color15: #FFFFFF

*.foreground: #FFF
!*.background: #222
*.cursorColour: #FFF

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.terminal: urxvt
rofi.theme: material
